* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Young Serif", serif;
}

nav {
    padding: 10px;
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}

.navbar__s1 h1 {
    color: purple;
    cursor: pointer;
}

.navbar__s2 {
    padding: 10px;
    border: solid black 1px;
    width: 60%;
    border-radius: 40px;
    display: flex;
    gap: 10px;
    justify-content: start;
    align-items: center;
}

.navbar__s2 input {
    width: 100%;
    font-size: 16px;
    border: none;
    background-color: transparent;
}

.navbar__s2 input:focus {
    outline: none;
}

.navbar__s3 {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

/* My learning popup */
.mylearning{
    position: relative;
}
.mylearning__popup{
    position: absolute;
    top: 150%;
    right: 0;
    width: 120px;
    background-color: white;
    border: solid black 2px;
    padding: 10%;
    display: none;
}

.mylearning:hover .mylearning__popup{
    display: block;
}

/* categories */
.categories{
    padding: 5px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    border-bottom: solid black 1px;
}
.categories p{
    background-color: purple;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    border: solid black 1px;
    cursor: pointer;
    flex-basis: 10%;
    text-align: center;
}

/* Home Image */
.homeimg{
    position: relative;
}
.homeimg img{
    width: 100%;
}
.homeimg__flash{
    position: absolute;
    top: 10%;
    left: 5%;
    border: solid black 2px;
    background-color: white;
    padding: 2%;
    width: 40%;
}

/* Recommended */
.recommended{
    padding: 10px;
}

/* list */
.list{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}
.list__item{

    width: 350px;
    cursor: pointer;

}
.list__item img{
    width: 100%;
    height: 50%;
}
.list__item h1{
    padding: 2px;
    font-size: 16px;
}

/* topics */
.topics{
    padding: 10px;
}
.topics__desc{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.topics__desc p{
    border: solid gray 2px;
    padding: 10px;
    text-align: center;
    margin: 2px;
    flex-basis: 30%;
    flex-grow: 1;
    cursor: pointer;
}

/* popular */
.Popular{
    padding: 10px;
}

.Popular__list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10px;
}


/* footer */
footer{
    background-color: black;
    color: white;
    border: solid black;
}
.footer__list{
    display: flex;
    justify-content: start;
    padding: 30px;
    gap: 60px; 
}
.footer__list__1 p{
    padding: 5px;
}
.footer__list__2 p{
    padding: 5px;
}
.footer__bottom{
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
    padding: 20px;
    align-items: center;
}
